../PerfumariaWebApp/Perfumaria/HELP.md
target/
!ProgWebPerfumaria/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
ProgWebPerfumaria/.idea
*.iws
*.iml
*.ipr
ProgWebPerfumaria/.idea/

ProgWebPerfumaria/mvnw
../mvnw.cmd
ProgWebPerfumaria/src/main/resources/application.properties

### STS ###
.apt_generated
.classpath
.factorypath
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
